ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  height: 100%;
  position: relative;
  color: #2b2b2b;
}

.noscroll {
  overflow: hidden;
}

.height {
  height: 100%;
}

.filter {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.side_menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30%;
  width: 30%;
  background: #fff;
  z-index: 5000;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.side_menu .icons {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  font-size: 1.3em;
  margin: 10px 0;
}
.side_menu .icons div {
  display: inline;
  margin-right: 5px;
}
.side_menu li {
  text-align: center;
  padding: 10px 0;
}

.side_menu.active {
  left: 0;
}

nav {
  padding: 20px 0 10px;
}
nav .logo {
  width: 250px;
  margin: 0 auto;
}
nav .logo img {
  width: 100%;
}
nav .menu {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  margin: 20px 0;
}
nav .menu ul li {
  display: inline-block;
}
nav .menu ul a {
  position: relative;
  display: block;
  padding: 10px 20px;
}
nav .menu ul a:after {
  content: "";
  display: block;
  height: 2px;
  background: #6b2725;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: all 0.2s ease-in-out;
}
nav .menu ul a:hover:after {
  width: 100%;
}
nav .hamburger {
  display: none;
}
nav .fa {
  font-size: 1.3em;
  margin-right: 10px;
  color: #2b2b2b;
}

.nav__contacts p {
  margin-bottom: 0;
}
.nav__contacts .fa {
  vertical-align: middle;
}
.nav__contacts a i::nth-child(2) {
  text-decoration: underline;
}

header {
  padding: 20px 0;
  height: 700px;
  position: relative;
  color: #fff;
  text-align: center;
}
header .bg-slider {
  position: absolute;
  width: 100%;
  z-index: -1;
}
header .bg-slider div {
  height: 100%;
  width: 100%;
  background: center 20% no-repeat;
  background-size: cover;
}
header .bg-slider .slide-1 {
  background-image: url(../img/header-bg-1.jpg);
}
header .bg-slider .slide-2 {
  background-image: url(../img/header-bg-2.jpg);
}
header .container, header .row, header .filter, header .bg-slider {
  height: 100%;
}
header .btn {
  font-size: 2em;
  border: 1px solid #fff;
  border-radius: 50px;
  display: inline-block;
  margin-top: 100px;
  left: 10px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}
header .btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
header .btn a {
  display: block;
  padding: 10px 50px;
}
header h1 {
  margin-bottom: 10px;
  font-size: 3em;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
header h2 {
  font-size: 2em;
}

.section__header {
  width: 100%;
  text-align: center;
  margin: 30px 0;
  font-size: 1.7em;
}
.section__header h3 {
  font-size: 1em;
  font-weight: 100;
}

.catalog .modelwrap__img {
  width: 100%;
}
.catalog .modelwrap__img img {
  width: 100%;
}
.catalog .modelwrap__discription {
  text-align: center;
  font-size: 1em;
}
.catalog .modelwrap__discription h3 {
  font-weight: bold;
  font-size: 1.5em;
}
.catalog .show_more {
  margin: 30px 0;
  background: none;
  border: 1px solid #000;
  font-size: 1.7em;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.catalog .show_more:hover {
  color: #fff;
  background-color: #000;
}
.catalog .more_content {
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out 0.3s;
  overflow: hidden;
}
.catalog .show {
  height: auto;
  opacity: 1;
}

.about {
  position: relative;
  color: #fff;
  background: url(../img/header-bg.jpg);
  background-size: cover;
  min-height: 500px;
  min-height: 500px;
}
.about .section__header {
  color: #fff;
  z-index: 5000;
}
.about .about__text {
  font-size: 1.1em;
  line-height: 2em;
}

.map {
  padding-bottom: 30px;
}
.map iframe {
  width: 100%;
  height: 400px;
}
.map .fa {
  margin-right: 5px;
}

footer {
  padding: 30px;
  color: #fff;
  background-color: #2b2b2b;
}
footer .footer__icons {
  text-align: right;
}
footer p .fa {
  margin-right: 5px;
}
footer .footer__icons {
  font-size: 2.5em;
}

.slick-initialized .slick-slide {
  outline: none;
}

@media (max-width: 992px) {
  nav .menu {
    display: none;
  }
  nav .hamburger {
    display: block;
    float: right;
  }
}
@media (max-width: 768px) {
  .side_menu {
    width: 70%;
    left: -70%;
  }

  .modelwrap {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .side_menu .icons {
    display: block;
  }
  .side_menu p {
    font-size: 0.5em;
  }
  .side_menu .fa {
    margin-right: 10px;
  }

  header h1 {
    font-size: 2.5em;
  }
  header h2 {
    font-size: 1.5em;
  }

  nav {
    padding-bottom: 0px;
  }
  nav .logo {
    margin: 0 auto;
  }
  nav .hamburger {
    float: none;
    text-align: center;
  }
  nav .nav__contacts {
    margin: 0;
    display: none;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 35px;
  }

  .section__header h3 {
    font-size: 0.7em;
    padding: 0 5px;
  }

  .about {
    background-position: center;
  }

  footer {
    text-align: center;
  }
  footer .footer__icons {
    text-align: center;
  }
}
@media (max-height: 500px) {
  .side_menu {
    top: -150px;
    left: 0;
    width: 100%;
    bottom: auto;
  }
  .side_menu .icons {
    position: static;
  }
  .side_menu ul {
    margin-bottom: 30px;
  }
  .side_menu li {
    display: inline-block;
    border-right: 1px solid #2b2b2b;
    padding: 0 15px;
  }
  .side_menu li:last-child {
    border-right: none;
  }

  .side_menu.active {
    top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
