@media (max-width: 992px) { 
    nav{
        .menu{
           display: none;
        }
        .hamburger{
            display: block;
            float: right;
        }
    }
}
@media (max-width: 768px){
    .side_menu{
        width: 70%;
        left: -70%;
    }
    .modelwrap{
        margin-top: 20px;
    }
}
@media (max-width: 576px){
    .side_menu{
        .icons{
            display: block;
        }
    }
    header{
        h1{
            font-size: 2.5em;
        }
        h2{
            font-size: 1.5em;
        }
    }
    nav{
        .logo{
            margin: 0 auto;
        }
        .hamburger{
            float: none;
            text-align: center;
        }
        .nav__contacts{
            margin: 0;
            display: none;
        }
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
        width: 35px;
    }
    .section__header{
        h3{
            font-size: 0.7em;
            padding: 0 5px;
        }
    }
    .about{
        background-position: center;
    }
    footer{
        text-align: center;
        .footer__icons{
            text-align: center;
        }
        
    }
    
}