
$font: 'Playfair Display', serif;
$first-color: #6b2725;

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5{
    font-weight: 100;
}
a,a:hover{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: $font;
    font-size: 14px;
}
nav{
    padding: 20px 0;
    .logo{
        width: 130px;
        img{
            width: 100%;
        }
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        font-size: 1.3em;
        ul{
            
            li{
                display: inline-block;
            }
            a{
                position: relative;
                display: block;
                padding: 10px 20px;

                &:after{
                    content:"";
                    display: block;
                    height: 1px;
                    background: $first-color;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    transition: all .2s ease-in-out;
                }
                &:hover{
                    &:after{
                        width: 100%;
                    }

                }
            }
        }   
    }
}
header{
    height: 100vh;
    position: relative;
    color: #fff;
    text-align: center;
    .bg-slider{
        position: absolute;
        width: 100%;
        z-index: -1;
        div{
            height: 100%;
            width: 100%;
            background: center 20% no-repeat;
            background-size: cover;
        }
        .slide-1{
            background-image: url(../img/header-bg-1.jpg);
        }
        .slide-2{
            background-image: url(../img/header-bg-2.jpg);
        }
        
    }
    .filter{
        position: absolute;
        width: 100%;
        background-color: rgba(0,0,0,.5);
    }
    .container, .row, .filter,.bg-slider{
            height: 100%; 
        }
    
    .btn{
        font-size: 2em;
        border: 1px solid #fff;
        border-radius: 50px;
        display: inline-block;
        margin-top: 100px;
        left: 10px;
        text-transform: uppercase;
        background: rgba(255,255,255,0);
        transition: all .2s ease-in-out;
        &:hover{
            background: rgba(255,255,255,.3);
        }
        a{
            display: block;
            padding: 10px 50px;
        }
    }
    h1{
        margin-bottom: 10px;
        font-size: 3em;
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
        
    }
    h2{
        font-size: 2em;
    }
}
.catalog{
    .modelwrap__img{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .catalog__head{
        text-align: center;
        margin: 30px 0;
        font-size: 1.7em;
        h3{
            font-size: 1em;
            font-weight: 100;
        }
    }
    .modelwrap__discription{
        text-align: center;
        font-size: 1em;
        h3{
            font-weight: bold;
            font-size: 1.5em;
        }
        
    }
    .show_more{
        margin: 30px 0;
        background: none;
        border: 1px solid #000;
        font-size: 1.7em;
        padding: 10px 20px;
        transition: all .3s ease-in-out;
        &:hover{
            color: #fff;
            background-color: #000;
        }
    }
}
.slick-initialized .slick-slide {
    outline: none;
}

// import media styles 
@import "media";